/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Container */
body {
    font-family: "Nunito", "Segoe UI", Helvetica, Arial, sans-serif;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

/* Back Button */
.back-button {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    transition: transform 0.2s;
}

.back-button:hover {
    transform: scale(1.05);
}


/* Footer */
footer {
    margin-top: 4rem;
    text-align: center;
    font-size: 0.9rem;
}
